/* Twitter */

/* Remove the numbers beside Replies, Retweets, and Likes; it doesn't matter
 * how popular anything is. */
.ProfileTweet-actionCountForPresentation {
  display: none;
}

/* Remove Moments to encourage sharing through personal communication */
#global-actions > .moments {
  display: none;
}
/* 'Create a Moment' panel. */
.MomentMakerHomeModule {
  display: none !important;
}

/* Remove profile card statistics to stop thinking of the audience as a number */
.dashboard .DashboardProfileCard-content .ProfileCardStats {
  display: none;
}

/* Remove who to follow to encourage personal discovery over algorithm influcenced suggestions */
.dashboard .wtf-module, .dashboard .wtf-module.has-content {
  display: none;
}

/* Remove Trends pane; we don't need to know what Twitter thinks we ought to
 * pay attention to. */
.Trends {
  display: none;
}

/* Remove promoted tweets; we don't need unsolicited messages from corporations. */
.promoted-tweet {
  display: none;
}

/* Remove Advertise With Twitter, because it reinforces the idea that this is not for communication */
.Footer-adsModule {
  display: none;
}

/* Remove impressions, because the numbers aren't meaningful */
/* Remove Who To Follow */
.SidebarCommonModules {
  display: none;
}


/* Facebook */

/* Remove Like and Reaction information. Give readers the chance to react
 * themselves without comparing their reaction to others, or focusing on the
 * perceived popularity of what was shared. */
.UFILikeSentence {
  display: none;
}
.UFICommentReactionIconContainer {
  display: none;
}
.UFICommentLikeButton {
  display: none;
}
.3399 {
  display: none;
}

/* Remove advertisements and trending topics; these are distractions.
 * Unsolicited content (ads, trending) are not welcome. */
#pagelet_ego_pane {
  display: none;
}
#pagelet_trending_tags_and_topics {
  display: none;
}
.cardRightCol {
  display: none;
}

